/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root */
body {
  font-family: system-ui, Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

/* container helper */
#root {
  min-height: 100vh;
}
